
body {
    font-family: "Montserrat";
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat";
    font-weight: 900;
}

p {
    color: grey;
}

/* headings */
.big-heading {
    font-weight: 900;
    font-size: 3rem;
}
.section-heading {
    font-size: 2.5rem;
    line-height: 1.5;
}
#title {
  
    background-color: #ff4c68;
    color: white;
}

.title-image{
    width: 60%;
    transform: rotate(25deg);
 
    position: absolute;
    left: 20%;
}

.container {
    background-color: white;
    background: white;
    z-index: 2;
    text-align: center;
    align-content: center;
    padding-top: 20px;
    padding-bottom: 100px;
}
/*  features  */
#features {
  
   background-color: white;
   position: relative;
   z-index: 1;
}

.feature-title {
    font-size: 1.5rem;
}


.container-fluid{
 
padding: 5% 10% 10% 10%;
}

/*  navbar  */

.navbar {
    padding: 0 0 4.5rem;
}

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.nav-item {
    padding: 0px 18px 0px 18px;
    font-family: "Montserrat";
    font-weight: 900;
}

.nav-link
{
    font-family: "Ubuntu";
    font-size: 1.5rem;
    font-weight: bold;
    text-align: right;
}

/* pricing */
.price-text {
    font-size: 2rem;
}

#pricing {
    padding: 100px;
    text-align: center;
}

.pricing-column  {
    padding: 3%,2%;
}

.download-button {
    margin: 5% 3% 5% 0;
}


.fas {
    color: #ef8172;
    margin-top: 6rem;
    margin-bottom: 1rem;
}

.fas:hover {
    color:#ff4c68;
}

/* testimonials */

#testimonials {
    text-align: center;
    background-color: #ef8172;
    color: white;

}
.testimonial-text {
    font-size: 2.5rem;
    line-height: 1.5;
}
.testimonial-image {
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}


#press  {
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo {
    width: 15%;
    margin: 20px 20px 20px 50px;
}

.carousel-item {
    padding: 7% 15%;
}

/* call to action */

#cta{ background-color:#ff4c68;
      font-family: "Montserrat";
      color: white;
}

.ctacon {
    text-align: center;
    padding: 50px 50px 10px 50px;
}


#footer {
    text-align: center;
    padding: 7% 15%;
   
}

.social-icon {
    margin: 20px 10px;
}

@media (max-width: 992px) {
    .row {text-align: center;}
    .title {text-align: center;
    
    }
    .title-image {position: static;
transform: rotate(0) 
    
    }
}
